@mixin badge-badge-theme($theme) {

    $background: map-get($theme, background);
    $is-dark: map-get($theme, is-dark);

    badge-badge {

        #badge-badge {

            #badge-badge-form-wrapper {

                #badge-badge-form {
                    @if ($is-dark) {
                        background: mat-color($fuse-navy, 600);
                    } @else {
                        background: map-get($background, card);
                    }
                }
            }
        }
    }
}